body {
    font-family: Arial;
    padding: 30px;
}

.form input, button {
    padding: 6px;
    margin: 5px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.low {
    color: red;
    font-weight: bold;
}

.good {
    color: green;
}
